.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .logo {
    text-align: center;
    max-width: 19.9375rem;
    max-height: 4.9375rem;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .custom-input {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  
  .back-button {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 15px; /* Ajusta el margen izquierdo para el botón de "Atrás" */
  }
  
  ion-button[fill="clear"] {
    --ion-background-color: transparent; /* Hace que el botón de "Atrás" sea transparente */
    --ion-color: #007bff; /* Color azul común de los botones en iOS */
  }
  
  ion-icon[slot="icon-only"] {
    font-size: 24px;
    color: inherit;
  }