<ion-content [fullscreen]="true">
  <div class="logo-container">
    <ion-img src="assets/images/logo.png" class="logo"></ion-img>
  </div>
  <div class="form-container">
      <ion-item class="custom-input">
        <ion-input label="Text input" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item class="custom-input">
          <ion-input type="password" label="Text input" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-button class="custom-input" expand="full" (click)="goToPage('student_classes')">Iniciar Sesión</ion-button>
  </div>
</ion-content>

