<ion-content [fullscreen]="true">
  <div class="logo-container">
    <ion-img src="assets/images/logo.png" class="logo"></ion-img>
  </div>
  <form class="form-container">
    <ion-item class="custom-input">
      <ion-input id="username" label="Nombre de Usuario" placeholder="c.abarzua"></ion-input>
    </ion-item>
    <ion-item class="custom-input">
      <ion-input id="password" type="password" label="Contraseña" placeholder="123456"></ion-input>
    </ion-item>
    <ion-button class="custom-input" expand="full" (click)="login()">Iniciar Sesión</ion-button>
  </form>
  
</ion-content>

