.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    text-align: center;
    max-width: 19.9375rem;
    max-height: 4.9375rem;
    margin-bottom: 15%; 
  }
  
.custom-input {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}